<% include ../partials/header %>

<h1><%= trail.name %></h1>
<img src="<%= trail.image %>">
<p><%= trail.description %></p>

<p>
    <a class="btn btn-success" href="/trails/<%= trail._id %>/comments/new">Add a new comment</a>
</p>

<% trail.comments.forEach(function(comment) { %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include ../partials/footer %>